body {
  font-family:'Urbanist', sans-serif;
  padding: 0;
  margin-right: 600px;
  margin-left: 100px;
  text-align: left;
}

header {
  font-family: 'Bungee Shade', cursive;
  height: 200px;
  text-align: left;
  background-color: #87BAAB;
  background-size: cover;
}

footer {
  height: 100px;
  padding-top: 10px;
  text-align: left;
  margin-right: 100px;
  margin-left: 100px;
  background-color: #5E5B52;
  color: #FFFFFF;
}

footer a {
   color: #FFFFFF;
}
 
 h1 {
   color: #000000;
   font-family: 'Bungee Shade', cursive;
   font-size: 180pt;
}

h2 {
   color: #000000;
   font-family: 'Bungee Shade', cursive;
   font-size: 37pt;
}
h3 {
   color: #000000;
   font-family: 'Urbanist', sans-serif;
   font-size: 30pt;
}
h4 {
   color: #000000;
   font-family: 'Urbanist', sans-serif;
   font-size: 21pt;
}



<html>
<head>
<style>
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
</style>
</head>
<body>

<ul>
  <li><a class="index.md" href="#home">Home</a></li>
  <li><a href="#about.md">About</a></li>
  <li><a href="#team.md">Team</a></li>
  <li><a href="#happening.md">Happening</a></li>
  <li><a href="#thinking.md">Thinking</a></li>
</ul>



</body>
</html>




@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
$mdc-typography-font-family: unquote("Bungee Shade, cursive");


